<html>

<head>
  <link rel="stylesheet" href="./stylesheets/admin_das.css">

  <title> Librarian Dashboard</title>
</head>

<body>
  <header class="header" role="banner">
    <h1 class="logo">
      <a href="#">Departmental<span>
          Digital Inventory</span></a>
    </h1>
    <div class="nav-wrap">
      <nav class="main-nav" role="navigation">
        <ul class="unstyled list-hover-slide">
          <li><a href="/admin_das" class="dash">Home</a></li>
          <li><a href="/manager">Stock Manager</a></li>
          <li><a href="/stud_details">Student details</a>
          <li><a href="/faculty_details">Faculty details</a>
          <li><a href="/books_issued">Books issued</a>
          <li><a href="/lib-feedback-route">Feedback responses</a>
          <li><a href="/lib-support-route">Support queries</a>
          <li><a href="/lib-req-route">Book requests</a>
          <li><a href="/logout">Logout</a>
        </ul>
      </nav>

    </div>
  </header>
  <section class="info">

  </section>
  <h1>ADMIN DASHBOARD</h1>
  <br>
  <h1> Welcome!</h1>
  <section class="cards-wrapper">
    <div class="card-grid-space">
      <div class="num"></div>
      <a class="card"
        style="--bg-img: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbltbs7LcIdqgfkVIIV7qizPQwgvnXixUhkg&usqp=CAU)"
        href="about_admin.html">

        <div>
          <h2>About..</h2>
          <p>About the digital inventory</p>

          <div class="tags">
            <div class="tag"></div>
          </div>
        </div>
      </a>
    </div>
    <div class="card-grid-space">
      <div class="num"></div>
      <a class="card"
        style="--bg-img: url(https://nypost.com/wp-content/uploads/sites/2/2019/03/old-library-book.jpg?quality=80&strip=all)"
        href="admin_bookse.html">
        <div>
          <h2>Book Search</h2>
          <p>Search for books to borrow</p>

          <div class="tags">
            <div class="tag"></div>
          </div>
        </div>
      </a>
    </div>
    <br>
    <div class="card-grid-space">
      <div class="num"></div>
      <a class="card"
        style="--bg-img: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfzxSIJVncfIxjbhNwiQDriSvRGgcN2ft9BA&usqp=CAU')"
        href="admin_res.html">
        <div>
          <h2>Learning Resources</h2>
          <p>Check out the resources section for open journals,video guides, etc</p>

          <div class="tags">
            <div class="tag"></div>
          </div>
        </div>
      </a>
    </div>

</body>

</html>