<html>

<head>
  <link rel="stylesheet" href="./stylesheets/std_das.css">

  <title> Student Dashboard </title>
</head>

<body>
  <header class="header" role="banner">
    <h1 class="logo">
      <a href="#">Departmental<span>
          Digital Inventory</span></a>
    </h1>
    <div class="nav-wrap">
      <nav class="main-nav" role="navigation">
        <ul class="unstyled list-hover-slide">
          <li><a href="/faculty_das" class="dash" >Home</a></li>
          <li><a href="/fty-profile" >Profile</a></li>
          <li><a href="/fty-search-panel">Book Search</a></li>
          <li><a href="/fty-books-issued">Books issued</a></li>
          <li><a href="/fty-fine-cal">Calculate Fine</a></li>
          <li><a href="/fty-req-route">Request a Book</a></li>
          <li><a href="/fty-feedback-route">Feedback</a></li>
          <li><a href="/logout">Logout</a>
        </ul>
      </nav>

    </div>
  </header>


  <section class="info">
  </section>
  <h1>FACULTY DASHBOARD</h1>
  <h1> Welcome!</h1>
  <p><b>Login Email</b> - <%=email %>
  </p>
  <section class="cards-wrapper">
    <div class="card-grid-space">
      <div class="num"></div>
      <a class="card" style="--bg-img: url(https://thumbs.dreamstime.com/t/old-library-interior-20785072.jpg)"
        href="/fty-about">

        <div>
          <h1>About..</h1>
          <p>About the digital inventory</p>

          <div class="tags">
            <div class="tag"></div>
          </div>
        </div>
      </a>
    </div>
    <div class="card-grid-space">
      <div class="num"></div>
      <a class="card"
        style="--bg-img: url(https://nypost.com/wp-content/uploads/sites/2/2019/03/old-library-book.jpg?quality=80&strip=all)"
        href="/fty-search-panel">
        <div>
          <h1>Book Search</h1>
          <p>Search for books to borrow</p>

          <div class="tags">
            <div class="tag"></div>
          </div>
        </div>
      </a>
    </div>
    <br>
    <div class="card-grid-space">
      <div class="num"></div>
      <a class="card"
        style="--bg-img: url(https://supplychain-academy.net/wp-content/uploads/sites/6/2019/04/eLearning.jpeg)"
        href="/fty-res-route">
        <div>
          <h1>Learning Resources</h1>
          <p>Check out the resources section for open journals,video guides, etc</p>

          <div class="tags">
            <div class="tag"></div>
          </div>
        </div>
      </a>
    </div>

    <div class="card-grid-space">
      <div class="num"></div>
      <a class="card"
        style="--bg-img: url(https://media.istockphoto.com/photos/human-hand-drawing-contact-us-on-blackboard-picture-id984585688?k=6&m=984585688&s=612x612&w=0&h=q6Jszkpz5ay1ub70I8wxUuL99_pJe-OyhFdbi7a_4Yw=)"
        href="/fty-support-route">
        <div>
          <h1>Support</h1>
          <p>Contact us for any assistance</p>

          <div class="tags">
            <div class="tag"></div>
          </div>
        </div>
      </a>
    </div>
  </section>
</body>

</html>