<html>
    <head>
<title>
    Contact US
</title>
<link rel="stylesheet"  href="./stylesheets/std_contact.css">
<script src="./javascripts/std_contact.js"></script>
</head>
<body>
<header class="header" role="banner">
    <h2 class="logo">
      <a href="#">Departmental<span>
       Digital Inventory</span></a>
    </h2>
    <div class="nav-wrap">
      <nav class="main-nav" role="navigation">
        <ul class="unstyled list-hover-slide">
            <li><a href="/faculty_das"class="dash"  >Home</a></li>
            <li><a href="/fty-profile">Profile</a></li>
            <li><a href="/fty-search-panel">Book Search</a></li>
            <li><a href="/fty-books-issued">Books issued</a></li>
            <li><a href="/fty-fine-cal">Calculate Fine</a></li>
            <li><a href="/fty-req-route">Request a Book</a></li>
            <li><a href="/fty-feedback-route">Feedback</a></li>
            <li><a href="/logout">Logout</a>
        </ul>
      </nav>
      
    </div>
  </header>
  <div class="hi">
  
      <div class="row input-container">
      
      <div class="container">
      <div class="row">
              <h1>Contact us</h1>
      </div>
      <div class="row">
              <h4 style="text-align:center">Please reach out to us for support assistance at admin_lib@bmsce.ac.in or fill the form below.</h4>
      </div>
        <form method = "post" action="/support-fty">
              <div class="col-xs-12">
                  <div class="styled-input wide">
                      <input name = "name" type="text" required />
                      <label>Name</label> 
                  </div>
              </div>
              <div class="col-md-6 col-sm-12">
                  <div class="styled-input">
                      <input name = "email_address" type="email" required />
                      <label>Email</label> 
                  </div>
              </div>
              <div class="col-md-6 col-sm-12">
                  <div class="styled-input" style="float:right;">
                      <input name = "phone_number" minlength="10" maxlength="10" type="text" required />
                      <label>Phone Number</label> 
                  </div>
              </div>
              <div class="col-xs-12">
                  <div class="styled-input wide">
                      <input type="text" name = "message" required></input>
                      <label>Message</label>
                  </div>
              </div>
              <div class="col-xs-12">
                  <button type="submit" class="btn-lrg submit-btn">Submit</button>
              </div>
      </div>
      </form>
  </div>
    
  </div>
</body>
</html>