<html>

<head>
  <link rel="stylesheet" href="./stylesheets/about_std.css">

  <title>About </title>
</head>

<body>
  <header class="header" role="banner">
    <h1 class="logo">
      <a href="#">Departmental<span>
          Digital Inventory</span></a>
    </h1>
    <div class="nav-wrap">
      <nav class="main-nav" role="navigation">
        <ul class="unstyled list-hover-slide">
          <li><a href="/admin_das" class="dash">Home</a></li>
          <li><a href="/manager">Stock Manager</a></li>
          <li><a href="/stud_details">Student details</a>
          <li><a href="/faculty_details">Faculty details</a>
          <li><a href="/books_issued">Books issued</a>
          <li><a href="/lib-feedback-route">Feedback responses</a>
          <li><a href="/lib-support-route">Support queries</a>
          <li><a href="/lib-req-route">Book requests</a>
          <li><a href="/logout">Logout</a>
        </ul>
      </nav>

    </div>
  </header>
  <div class="card-container">
    <div class="card u-clearfix">
      <div class="card-body">
       
        <h3 class="card-title">About the Departmental Digital Inventory</h3>
        <span class="card-description subtle">The CSE Department's digital inventory is created to facilitate the process of issuing and maintainance of books in an online mode. It gives a display of a variety of books that a student or a faculty can equip his knowledge with. </span>
      
      
      </div>
      <img src="https://bmsce.ac.in/assets/img/Library/Library-1.jpg" alt="" class="card-media" />
    </div>
    <div class="card-shadow"></div>
  </div>

</body>

</html>