<html>

<head>
  <link rel="stylesheet" href="./stylesheets/std_resou.css">

  <title> Resources</title>
</head>

<body>
  <header class="header" role="banner">
    <h1 class="logo">
      <a href="#">Departmental<span>
          Digital Inventory</span></a>
    </h1>
    <div class="nav-wrap">
      <nav class="main-nav" role="navigation">
        <ul class="unstyled list-hover-slide">
            <li><a href="/admin_das" class="dash">Home</a></li>
            <li><a href="/manager">Stock Manager</a></li>
            <li><a href="/stud_details">Student details</a>
            <li><a href="/faculty_details">Faculty details</a>
            <li><a href="/books_issued">Books issued</a>
            <li><a href="/lib-feedback-route">Feedback responses</a>
            <li><a href="/lib-support-route">Support queries</a>
            <li><a href="/lib-req-route">Book requests</a>
            <li><a href="/logout">Logout</a>
        </ul>
      </nav>

    </div>
  </header>
  <center><h1>Computer Science Resources </h1></center>
  <div class="container">
    <div class="items">
      <div class="items-head">
        <p>Magazines</p>
        <hr>
      </div>
      
      <div class="items-body">
        <div class="items-body-content">
            <a href="https://www.computerworld.com/in/">
          <span>Computer World</span>
        </a>
        </div>
        <div class="items-body-content">
            <a href="https://www.technologyreview.com/">
          <span>MIT Technology Review</span>
        </a>
        </div>
        <div class="items-body-content">
            <a href="https://www.linuxjournal.com/">
          <span>Linux Journal</span>
        </a>
        </div>
        <div class="items-body-content">
          <a href="https://www.codemag.com/magazine">
          <span>CODE Magazine</span>
        </a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container1">
    <div class="items">
      <div class="items-head">
        <p>MOOC</p>
        <hr>
      </div>
      
      <div class="items-body">
        <div class="items-body-content">
          <a href="https://nptel.ac.in/">
          <span>NPTEL</span>
         </a>
        </div>
        <div class="items-body-content">
          <a href="https://ocw.mit.edu/index.htm">
          <span>MIT Open Course Ware</span>
         </a>
        </div>
        <div class="items-body-content">
          <a href="https://www.edx.org/">
          <span>Edx</span>
         </a>
        </div>
        <div class="items-body-content">
          <a href="https://www.coursera.org/learn/voicesofsocialchange?action=enroll&authMode=signup">
          <span>Coursera</span>
        </a>
        </div>
      </div>
      
    </div>
  </div>
    
    <div class="container2">
    <div class="items">
      <div class="items-head">
        <p>Open Source Projects</p>
        <hr>
      </div>
      
      <div class="items-body">
        <div class="items-body-content">
          <a href="https://www.codetriage.com/">
          <span>Code Triage</span>
         </a>
        </div>
        <div class="items-body-content">
          <a href="https://github.com/">
          <span>Github</span>
         </a>
        </div>
        <div class="items-body-content">
          <a href="https://opensource.google/projects/explore/featured">
          <span>Google Open Source</span>
         </a>
        </div>
        <div class="items-body-content">
          <a href="https://www.linuxfoundation.org/">
          <span>Linux Foundation</span>
       </a>
        </div>
      </div>
    </div>
  </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  
  <div class="container3">
    <div class="items">
      <div class="items-head">
        <p>Journals</p>
        <hr>
      </div>
      
      <div class="items-body">
        <div class="items-body-content">
          <a href="https://link.springer.com/">
          <span>Springer</span>
         </a>
        </div>
        <div class="items-body-content">
          <a href="https://academic.oup.com/journals">
          <span>Oxford</span>
         </a>
        </div>
        <div class="items-body-content">
          <a href="https://www.tandfonline.com/">
          <span>Taylor and Francis</span>
         </a>
        </div>
        <div class="items-body-content">
          <a href="https://ieeexplore.ieee.org/browse/periodicals/title">
          <span>IEEE</span>
        </a>
        </div>
      </div>
    </div>
  </div>
    <div class="container4">
    <div class="items">
      <div class="items-head">
        <p>Code Academies</p>
        <hr>
      </div>
      <div class="items-body">
        <div class="items-body-content">
          <a href="https://www.freecodecamp.org/">
          <span>Free Code Camp</span>
         </a>
        </div>
        <div class="items-body-content">
          <a href="https://www.programiz.com/">
          <span>Programiz</span>
         </a>
        </div>
        <div class="items-body-content">
          <a href="https://www.tutorialspoint.com/index.htm">
          <span>Tutorials Point</span>
         </a>
        </div>
        <div class="items-body-content">
          <a href="https://www.w3schools.com/">
          <span>W3 Schools</span>
        </a>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
