<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <!-- Font Awesome CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>
    <link rel='stylesheet' href='/stylesheets/profile.css' />
</head>

<body1>
    <header class="header" role="banner">
        <h2 class="logo">
            <a href="#">Departmental<span>
           Digital Inventory</span></a>
        </h2>
        <div class="nav-wrap">
            <nav class="main-nav" role="navigation">
                <ul class="unstyled list-hover-slide">
                    <li><a href="/std_das">Home</a></li>
                    <li><a href="/std-profile" class="dash">Profile</a></li>
                    <li><a href="/std-search-panel">Book Search</a></li>
                    <li><a href="/std-books-issued">Books issued</a></li>
                    <li><a href="/fine-cal">Calculate Fine</a></li>
                    <li><a href="/std-req-route">Request a Book</a></li>
                    <li><a href="/std-feedback-route">Feedback</a></li>
                    <li><a href="/logout">Logout</a>
                </ul>
            </nav>

        </div>
    </header>
    <div class="student-profile py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card shadow-sm">
                        <div class="card-header bg-transparent border-0">
                            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Student Profile</h3>
                        </div>
                        <div class="card-body pt-0">
                            <table class="table table-bordered">
                                <%
                if(item.length!=0){
                var i=1;
                item.forEach(function(data){
                %>
                                    <tr>
                                        <th width="30%">First name</th>
                                        <td width="2%">:</td>
                                        <td>
                                            <%=data.first_name %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="30%">Last name</th>
                                        <td width="2%">:</td>
                                        <td>
                                            <%=data.last_name %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="30%">Usn</th>
                                        <td width="2%">:</td>
                                        <td>
                                            <%=data.usn %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th width="30%">Email Address</th>
                                        <td width="2%">:</td>
                                        <td>
                                            <%=data.email_address %>
                                        </td>
                                    </tr>
                                    </tr>
                                    <%  i++; }) %>
                                        <% } else{ %>
                                            <tr>
                                                <td colspan="5">No Data Found</td>
                                            </tr>
                                            <% } %>
                            </table>
                        </div>
                    </div>
                    <div style="height: 26px"></div>

                </div>
            </div>
        </div>
    </div>
</body1>

</html>