<html>
  <head>
    <title>
      Book Search</title>
<link rel="stylesheet"  href="./stylesheets/std_bookse.css">
</head>
<body>
<header class="header" role="banner">
    <h1 class="logo">
      <a href="#">Departmental<span>
       Digital Inventory</span></a>
    </h1>
    <div class="nav-wrap">
      <nav class="main-nav" role="navigation">
        <ul class="unstyled list-hover-slide">
          <li><a href="/std_das" >Home</a></li>
          <li><a href="/std-profile">Profile</a></li>
          <li><a href="/std-search-panel"  class="dash">Book Search</a></li>
          <li><a href="/std-books-issued">Books issued</a></li>
          <li><a href="/fine-cal">Calculate Fine</a></li>
          <li><a href="/std-req-route">Request a Book</a></li>
          <li><a href="/std-feedback-route">Feedback</a></li>
          <li><a href="/logout">Logout</a>
        </ul>
      </nav>
      
    </div>
  </header>
  <h1>Please select your semester</h1>
  <div class="container">
      <div class="card" style="--cards:5">
        <a href="/std/3" class="dash">
          <div class="child">
              <h2>Semester 3</h2>
              <p>6 subjects </p>
          </div>
          <div class="child"></div>
          <div class="child"></div>
          <div class="child"></div>
          <div class="child"></div>
          </a>
      </div>
      <div class="card" style="--cards:3">
        <a href="/std/4" class="dash">

          <div class="child">

              <h2>Semester 4</h2>
              <p>6 subjects </p>
          </div>
          <div class="child"></div>
          <div class="child"></div>
        </a>
      </div>
      <div class="card" style="--cards:2">
        <a href="/std/5" class="dash">

          <div class="child">
              <h2>Semester 5</h2>
              <p>6 subjects</p>
          </div>
          <div class="child"></div>
          </a>
      </div>
      <div class="card" style="--cards:4">
        <a href="/std/6" class="dash">

          <div class="child">
              <h2>Semester 6</h2>
              <p>5 subjects </p>
          </div>
          <div class="child"></div>
          <div class="child"></div>
          <div class="child"></div>
          </a>
      </div>
      <div class="card" style="--cards:4">
        <a href="/std/7" class="dash">

          <div class="child">
              <h2>Semester 7</h2>
              <p>5 subjects</p>
          </div>
          <div class="child"></div>
          <div class="child"></div>
          <div class="child"></div>
          </a>
      </div>
      <div class="card" style="--cards:3">
        <a href="std/8" class="dash">

          <div class="child">
              <h2>Semester 8</h2>
              <p>3 subjects </p>
          </div>
          <div class="child"></div>
          <div class="child"></div>
          <div class="child"></div>
          </a>
      </div>
  </div>
  </body>
  </html>