@import "compass/css3";
 *, :before, :after {
	 box-sizing: border-box;
}
 .unstyled {
	 list-style: none;
	 padding: 0;
	 margin: 0;
}
 .unstyled a {
	 text-decoration: none;
}
 .list-inline {
	 overflow: hidden;
}
 .list-inline li {
	 float: left;
}
 .header {
	 position: fixed;
	 left: 0;
	 top: 0;
	 bottom: 0;
	 width: 17.5em;
	 background: #35302d;
}
 .logo {
	 text-transform: uppercase;
	 font: 300 2em 'Source Sans Pro', Helvetica, Arial, sans-serif;
	 text-align: center;
	 padding: 0;
	 margin: 0;
}
 .logo a {
	 display: block;
	 padding: 1em 0;
	 color: #dfdbd9;
	 text-decoration: none;
}
 .logo a:hover {
	 color: #fff;
}
 .logo a:hover span {
	 color: #df4500;
}
 .logo span {
	 font-weight: 700;
	 transition: 0.5s linear color;
	 color: #bf8f12;
}
 .main-nav ul {
	 border-top: solid 1px #3c3735;
}
 .main-nav li {
	 border-bottom: solid 1px #3c3735;
}
 .main-nav a {
	 padding: 1.1em 0;
	 color: #dfdbd9;
	 font: 400 1.125em 'Source Sans Pro', Helvetica, Arial, sans-serif;
	 text-align: center;
}
 .main-nav a:hover {
	 color: #fff;
}
 .social-links {
	 border-bottom: solid 1px #3c3735;
}
 .social-links li {
	 width: 25%;
	 border-left: solid 1px #3c3735;
}
 .social-links li:first-child {
	 border: none;
}
 .social-links a {
	 display: block;
	 height: 5.5em;
	 text-align: center;
	 color: #3c3735;
	 font: 0.75em/5.5em 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
 .social-links a:hover {
	 color: #dfdbd9;
}
 .list-hover-slide li {
	 position: relative;
	 overflow: hidden;
}
 .list-hover-slide a {
	 display: block;
	 position: relative;
	 z-index: 1;
	 transition: 0.5s ease color;
}
 .list-hover-slide a:before {
	 content: '';
	 display: block;
	 z-index: -1;
	 position: absolute;
	 left: -100%;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 border-right: solid 5px #df4500;
	 background: #3c3735;
	 transition: 0s ease left;
}
 .list-hover-slide a.is-current:before, .list-hover-slide a:hover:before {
	 left: 0;
}

html {
  background: #FAF7F2;
  
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
}

.u-clearfix:after {
  clear: both;
}

.u-clearfix {
  *zoom: 1;
}

.subtle {
  color: #aaa;
}

.card-container {
  margin: 25px auto 0;
  position: relative;
  width: 692px;
  border-left: 10px;
  border-top: 10px;
  margin-top:150px;
  margin-left:600px;
  margin-right:0px;
  margin-bottom:0px;
}

.card {
  background-color: #fff;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, .07);
  z-index: 1;
  border-bottom: 1px solid rgba(235, 228, 228, 0.719);    
  resize: vertical;   
   border-top:0px;
   border-left: 0px;
   border-right: 0px;
 
}
.dash {
background: #444147;
    border-right: 5px solid white;
    padding: 15px 30px 15px 20px;
}

.card-body {
  display: inline-block;
  float: left;
  width: 310px;
}

.card-number {
  margin-top: 15px;
}

.card-circle {
  border: 1px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  height: 25px;
  text-align: center;
  width: 25px;
}

.card-author {
  display: block;
  font-size: 12px;
  letter-spacing: .5px;
  margin: 15px 0 0;
  text-transform: uppercase;
}

.card-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
}

.card-description {
  display: inline-block;
  font-weight: 300;
  line-height: 22px;
  margin: 10px 0;
  color:black;
}

.card-read {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 5px 0 20px;
  position: relative;
  text-align: right;
  text-transform: uppercase;
}

.card-read:after {
  background-color: #b8bddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 9px;
  width: 75%;
}

.card-tag {
  float: right;
  margin: 5px 0 0;
}

.card-media {
  float: right;
  width: 45%;
  height: 300px;
}

.card-shadow {
  background-color: #fff;
  box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, .25);
  height: 1px;
  margin: -1px auto 0;
  width: 80%;
  z-index: -1;
}

